$sidebar_width: 200px;
@mixin arrow($direction, $color, $size){
    display: block;
    height: 0;
    width: 0;
    
    @if $direction == 'top' {
        border-left: $size solid transparent;
    	border-right: $size solid transparent;
    	border-bottom: $size solid $color;
    } @else if $direction == 'right' {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
    	border-left: $size solid $color;
    } @else if $direction == 'bottom' {
        border-top: $size solid $color;
        border-right: $size solid transparent;
        border-left: $size solid transparent;
    } @else if $direction == 'left' {
        border-top: $size solid transparent;
    	border-right: $size solid $color;
    	border-bottom: $size solid transparent;
    } @else if $direction == 'top-left' {
        border-top: $size solid $color; 
        border-right: $size solid transparent;	
    } @else if $direction == 'top-right' {
        border-top: $size solid $color; 
        border-left: $size solid transparent;
    } @else if $direction == 'bottom-left' {
        border-bottom: $size solid $color; 
        border-right: $size solid transparent;	
    } @else if $direction == 'bottom-right' {
        border-bottom: $size solid $color; 
        border-left: $size solid transparent;
    }
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid green;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
}

body{
	padding-left: $sidebar_width;
}
.sidebar{
	width: $sidebar_width;
	min-height: 100%;
	background: red;
	position: fixed;
	left: 0;
	top: 0;
}
.contents{
	overflow-x: scroll;
	width: 100%;
	// white-space: nowrap;
	display: inline-block;
}
.table{
	float: left;
}

.cont
{
    white-space: nowrap; /*Prevents Wrapping*/
    
    height: 120px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.db{
	.nav-tabs{
		margin-top: 20px;
		li{
			float: right;
		}
	}
	.table-wrapper{
		height: 600px;
		overflow: scroll;
	}
}
tr{
	height: 50px;
}
th{
	font-size: 12px;
}
td{
	font-size: 10px;
}
th, td{
	text-align: center;
	vertical-align: middle !important;
	line-height: 50px;
	font-family: "Source Sans Pro"
}
.row-data{
	.img-container{
		position: relative;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		overflow: hidden;
	}
	img{
		width: 100px;
		height: auto;
	}
}
.panels{
	padding: 0;
	margin: 0;
}
.panel{
	height: 100%;
	overflow-x: hidden;
}
.sort_by{
	margin-left: 5px;
	font-weight: lighter;
	position: relative;
	top: -2px;
	cursor: pointer;
	@include arrow('bottom',#333333,5px);
	display: inline-block;
}