body{
	padding-top: 100px;
}
.container > h2{
	margin-top: 50px;
}
.page-about{
	// ul.abouts{
	// 	padding: 0;
	// }
	// ul.abouts .about:nth-child(even){
	// 	margin-left: 10%;
	// }
	// ul.abouts .about {
	// 	float: left;
	// 	background: white;
	// 	width: 45%;
	// 	height: 400px;
	// 	display: block;
	// 	margin: 0 0 100px 0;
	// 	padding: 0;
	// 	img{
	// 		border-radius: 50%;
	// 		width: 150px;
	// 		height: 150px;
	// 		// display: inline-block;
	// 		float: left;
	// 	}
	// 	p{
	// 		color: black;
	// 		float: right;
	// 		font-size: 13pt;
	// 	}
	// }
	ul.abouts{
		$leftwidth: 150px;
		.left,.right{
			display: block;
		}
		list-style:none;
		ul{
			list-style:none;
		}
		li{
			list-style:none;
		}
		li.about{
			float: left;
			width: 45%;
			background: white;
			display: block;
			height: 400px;
			position: relative;
			padding-left: $leftwidth;
			margin-bottom: 100px;
			overflow: hidden;
		}
		li.about:nth-child(even){
			margin-left: 10%;
		}
		.left{
			width: $leftwidth;
			position:absolute;
			left: 0;
			img{
				border-radius: 50%;
				height: 100px;
				width:100px;
				display: block;
				margin: 30px auto;
			}
			.stats{
				padding: 0;
			}
			.stat{
				h2,h3{
					font-size:15px;
					color:black;
					text-align: left;
					text-align: center;
					width: 100%;
				}
				h2{
					margin: 0;
				}
				h3{
					font-weight: lighter;
					font-size: 12px;
					margin-top: 10px;
					margin-bottom: 15px;
					color: lighten(black,50%);
				}
			}
		}
		.right{
			padding: 25px;
			p, h2, li{
				text-align: left;
			}
			h2{
				color: #2B2A21;
				font-size: 13pt;
				margin-top: 15px;
				margin-bottom: 9px;
				padding-bottom: 0;
			}
			p{
				color: black;
				font-size: 10pt;
			}
			h2+ul{
				color: red;
			}
			ul{
				padding: 0;
				li{
					color: black;
				}
				li:before{
					content: "•  ";
					color: lighten(black,40%);
				}
			}
		}
	}

}