{% extends "index.html" %}

{%block morecss%}
<style>
.table.table-responsive tr th{
  text-align: center;
}
</style>
{%endblock%}
{%block pagename%}about{%endblock%}
{% block Content %}

<div class="container">
  <h2>About Us</h2>
  <ul class="abouts">
    <li class="about">
      <img src="" alt="">
      <p></p>
      <ul class="stats">
        <li class="num_commits"></li>
        <li class="num_issues"></li>
        <li class="num_unit_tests"></li>
        <li class="links"><a href="http://github.com/evanmosseri"></a></li>
      </ul>
    </li>
    <li class="about">
      <img src="" alt="">
      <p></p>
      <ul class="stats">
        <li class="num_commits"></li>
        <li class="num_issues"></li>
        <li class="num_unit_tests"></li>
        <li class="links"><a href="http://github.com/evanmosseri"></a></li>
      </ul>
    </li>
    <li class="about">
      <img src="" alt="">
      <p></p>
      <ul class="stats">
        <li class="num_commits"></li>
        <li class="num_issues"></li>
        <li class="num_unit_tests"></li>
        <li class="links"><a href="http://github.com/evanmosseri"></a></li>
      </ul>
    </li>
    <li class="about">
      <img src="" alt="">
      <p></p>
      <ul class="stats">
        <li class="num_commits"></li>
        <li class="num_issues"></li>
        <li class="num_unit_tests"></li>
        <li class="links"><a href="http://github.com/evanmosseri"></a></li>
      </ul>
    </li>
    <li class="about">
      <img src="" alt="">
      <p></p>
      <ul class="stats">
        <li class="num_commits"></li>
        <li class="num_issues"></li>
        <li class="num_unit_tests"></li>
        <li class="links"><a href="http://github.com/evanmosseri"></a></li>
      </ul>
    </li>
    <li class="about">
      <img src="" alt="">
      <p></p>
      <ul class="stats">
        <li class="num_commits"></li>
        <li class="num_issues"></li>
        <li class="num_unit_tests"></li>
        <li class="links"><a href="http://github.com/evanmosseri"></a></li>
      </ul>
    </li>
  </ul>
  
</div>

{% endblock %}