{% extends "index.html" %} {%block morecss%}
<style>
.table.table-responsive tr th {
    text-align: center;
}
</style>
{%endblock%} {%block pagename%}about{%endblock%} {% block outerContent %}
    <header class="intro">
        <div class="intro-body">
<div class="container">
    <h2>About Us</h2>
    <!-- ul.abouts>(li.about>div.left>(img[src="/static/img/bios/luke_pic.png"]+ul.stats>li.stat>(h2{Stat Name}+h3{Stat Value})*4)+div.right>p)*6 -->
    <ul class="abouts">
        <li class="about">
            <div class="left">
                <img src="/static/img/bios/evan_pic.jpg" alt="">
                <ul class="stats">
                    <li class="stat">
                        <h2># Commits</h2>
                        <h3>50</h3>
                    </li>
                    <li class="stat">
                        <h2># Issues</h2>
                        <h3>13</h3>
                    </li>
                    <li class="stat">
                        <h2># Unit Tests</h2>
                        <h3>3</h3>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="bio">
                    <h2>Evan Mosseri</h2>
                    <h3>Bio:</h3>
                    <p>Hey, I'm Evan, I am an incoming sophomore at UT and a freelance developer/data scientist. I love everything tech and code related, and am a fairly active voluteer for a PAC (Political Action Committee) whose goal is to reduce the influence of money on our political system.</p>
                </div>
                <div class="respons">
                    <h3>Responsibilities</h3>
                    <ul class="reponsibilities">
                        <li>Data Mining</li>
                        <li>Web Scraping</li>
                        <li>Writing SQLAlchemy Models</li>
                        <li>Writing Flask App</li>
                        <li>Flask Templating</li>
                        <li>Front End Development</li>
                        <li>Back End Development</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="about">
            <div class="left">
                <img src="/static/img/bios/luke_pic.png" alt="">
                <ul class="stats">
                    <li class="stat">
                        <h2># Commits</h2>
                        <h3>18</h3>
                    </li>
                    <li class="stat">
                        <h2># Issues</h2>
                        <h3>4</h3>
                    </li>
                    <li class="stat">
                        <h2># Unit Tests</h2>
                        <h3>0</h3>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="bio">
                    <h2>Luke Heyten</h2>
                    <h3>Bio:</h3>
                    <p>Being from Austin, TX, I was raised to be a Longhorn. Now, as a rising Senior at the University of Texas, I am on track to graduate in Spring of 2017. I enjoy fishing, running, and playing sports, but one of the things I enjoy most is learning more about Computer Science.</p>
                </div>
                <div class="respons">
                    <h3>Responsibilities</h3>
                    <ul class="reponsibilities">
                        <li>Bootstrap Template</li>
                        <li>Hard coding data</li>
                        <li>Issue Tracking</li>
                        <li>Front End Development</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="about">
            <div class="left">
                <img src="/static/img/bios/ariane_pic.jpg" alt="">
                <ul class="stats">
                    <li class="stat">
                        <h2># Commits</h2>
                        <h3>4</h3>
                    </li>
                    <li class="stat">
                        <h2># Issues</h2>
                        <h3>9</h3>
                    </li>
                    <li class="stat">
                        <h2># Unit Tests</h2>
                        <h3>0</h3>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="bio">
                    <h2>Ariane Youmsi</h2>
                    <h3>Bio:</h3>
                    <p>My name is Ariane Youmsi and I am a Senior graduating this summer.I am from Cameroon which is a country in West Africa. I will later on move to houston where I will be working for AIG.</p>
                </div>
                <div class="respons">
                    <h3>Responsibilities</h3>
                    <ul class="reponsibilities">
                        <li>Apiary API</li>
                        <li>Technical Report</li>
                        <li>Issue Tracking</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="about">
            <div class="left">
                <img src="/static/img/bios/yu_pic.png" alt="">
                <ul class="stats">
                    <li class="stat">
                        <h2># Commits</h2>
                        <h3>3</h3>
                    </li>
                    <li class="stat">
                        <h2># Issues</h2>
                        <h3>5</h3>
                    </li>
                    <li class="stat">
                        <h2># Unit Tests</h2>
                        <h3>5</h3>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="bio">
                    <h2>Yu Zhong</h2>
                    <h3>Bio:</h3>
                    <p>Hi, I am William. I am a senior in Computer Science at University of Texas at Austin. I am interested in gaming and planned to find a job in the gaming industry. Besides that I am a programmer, I am also a fisherman. I love go out fishing in all different seasons.</p>
                </div>
                <div class="respons">
                    <h3>Responsibilities</h3>
                    <ul class="reponsibilities">
                        <li>Technical Report</li>
                        <li>Front End Enhancements</li>
                        <li>Unit Testing</li>
                    </ul>
                </div>
        </li>
        <li class="about">
            <div class="left">
                <img src="/static/img/bios/stewart_pic.jpg" alt="">
                <ul class="stats">
                    <li class="stat">
                        <h2># Commits</h2>
                        <h3>4</h3>
                    </li>
                    <li class="stat">
                        <h2># Issues</h2>
                        <h3>2</h3>
                    </li>
                    <li class="stat">
                        <h2># Unit Tests</h2>
                        <h3>0</h3>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="bio">
                    <h2>Stewart Johnson</h2>
                    <h3>Bio:</h3>
                    <p>I am a senior at the University of Texas at Austin, currently unemployed and looking. I have a strong background in computer science and interests in computer graphics and game design.</p>
                </div>
                <div class="respons">
                    <h3>Responsibilities</h3>
                    <ul class="reponsibilities">
                        <li>SQLAlchemy Models</li>
                        <li>UML Diagram</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="about">
            <div class="left">
                <img src="/static/img/bios/adam_pic.jpg" alt="">
                <ul class="stats">
                    <li class="stat">
                        <h2># Commits</h2>
                        <h3>6</h3>
                    </li>
                    <li class="stat">
                        <h2># Issues</h2>
                        <h3>4</h3>
                    </li>
                    <li class="stat">
                        <h2># Unit Tests</h2>
                        <h3>4</h3>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="bio">
                    <h2>Adam Miller</h2>
                    <h3>Bio:</h3>
                    <p>Hi, I’m Adam Miller and I’m currently a senior at the University of Texas. The field that I’m most interested in is some type of game design or computer security. Outside of class I enjoy playing games with my friends. Once I’m done with UT I want to start visiting different countries before I start to work.</p>
                </div>
                <div class="respons">
                    <h3>Responsibilities</h3>
                    <ul class="reponsibilities">
                        <li>Unit Testing</li>
                        <li>Design</li>
                        <li>Bootstrap</li>
                        <li>Landing Page</li>
                    </ul>
                </div>
        </li>
         <li class="about">
            <div class="left">
                <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="">
                <ul class="stats">
                    <li class="stat">
                        <h2>Total Commits</h2>
                        <h3>112</h3>
                    </li>
                    <li class="stat">
                        <h2>Total Issues</h2>
                        <h3>29</h3>
                    </li>
                    <li class="stat">
                        <h2>Total Unit Tests</h2>
                        <h3>9</h3>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="bio">
                    <h2>Stats</h2>
                    <h3>Links</h3>
                    <ul class = "reponsibilities">
                        <li><a href = "http://docs.cuibono1.apiary.io/">Apiary API</a></li>
                        <li><a href = "https://github.com/evanmosseri/cs373-idb/issues">Github issue tracker</a></li>
                        <li><a href = "https://github.com/evanmosseri/cs373-idb">Github Repo</a></li>
                        <li><a href = "https://github.com/evanmosseri/cs373-idb/wiki">Github wiki</a></li>
                    </ul>
                </div>
                <div class="respons">
                    <h3>Data Sources</h3>
                    <ul class="reponsibilities">
                        <li> <a href = "https://www.ethics.state.tx.us/dfs/search_CF.htm">Ethics</a></li>
                        <li> <a href= "https://www.texastribune.org/"> Tribune</a></li>
                        <li><a href = "http://www.house.state.tx.us/">House</a></li>
                        <li><a href = "http://www.senate.state.tx.us/">Landing Page</a></li>
                    </ul>
                </div>
                <div class="respons">
                    <h3>Tools</h3>
                    <ul class="reponsibilities">
                        <li>SQLAlchemy</li>
                        <li>Apiary API</li>
                        <li>Bootstrap</li>
                        <li>Flask</li>
                        <li>Git</li>
                    </ul>
                </div>
		<div class="respons">
		    <h3>Unit Test</h3>
		    <ul class="reponsibilities">
			<script>
			    function unittest()
			    {
				myWindow = window.open('/unittest','','width=500,height=500');
				myWindow.focus();
			    }
			</script>		
			<li><input type="button" value="Run unit tests" onclick="unittest()" /></li>
		    </ul>
		</div>
        </li>
    </ul>
    </div>
            </div>
    </header>
    {% endblock %}
