{% extends "index.html" %}

{%block morecss%}
<style>
.table.table-responsive tr th{
  text-align: center;
}
</style>
{%endblock%}

{% block outerContent %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <header class="intro">
        <div class="intro-body">
<div class="container">
  <h2>{{bill.id}}</h2>
  <table id="billTable" class="table table-responsive" style="">
      <tr>
        <td>Prefix</td>
        <td>{{bill.prefix}}</td>
      </tr>
      <tr>
        <td>Number</td>
        <td>{{bill.number}}</td>
      </tr>
      <tr>
        <td>Session</td>
        <td>{{bill.session}}</td>
      </tr>
      <tr>
        <td>Caption</td>
        <td>{{bill.title}}</td>
      </tr>
      <tr>
        <td>Sponsors</td>
        <td>
          {%for legis in bill.sponsors%}  
              {{legis.first_name + " " + legis.last_name + ", "}}   
          {%endfor%}
        </td>
      </tr>
    </table>
    <h2>Sponsors</h2>
  <table id="legislatorsTable" class="table table-responsive" style="">
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Filer ID</th>
        <th>District</th>
        <th>Party</th>
      </tr>
    </thead>
    {% for legis in sponsors %}
      {% if legis.first_name%}
      <tr>
        <td><a href="/legislators/{{legis.id}}">{{legis.first_name}} &nbsp {{legis.last_name}}</a></td>
        <td>{{legis.id}}</td>
        <td>{{legis.filer_id}}</td>
        <td>{%if legis.district == -1%}
                N/A
              {%else%}
                {{legis.district}}
              {%endif%}</td>
        <td>{{legis.party}}</td>
      </tr>
      {%endif%}
      {% endfor %}
  </table>
</div>
</div>
</header>

{% endblock %}
