{% extends "index.html" %}

{%block morecss%}
<style type="text/css">
	
.tempBG {
  background: url(../static/img/intro-bg.jpg) no-repeat bottom center scroll;
}
</style>
{%endblock%}

{% block outerContent %}

<div class="tempBG">
<br><br>
<h1 style="text-align:center;">Border Health PAC</h1>
	<br><br>
	         <p style="padding-left: 40px">Type: Entity</p>
	         	         <p style="padding-left: 40px">Website: <a href="http://borderhealthpac.com/">borderhealthpac.com</a></p>
	         <p style="padding-left: 40px">Contributions: <a href="/legislators/58277">Walle</a>: $5,000</p>
	         <p style="padding-left: 40px">City: McAllen, TX</p>
	         <p style="padding-left: 40px">Zip: 78504</p>
    <br><br>
        </div>
    </header>


</div>

{% endblock %}