{% extends "index.html" %}

{%block morecss%}
<style>
.table.table-responsive tr th{
  text-align: center;
}
</style>
{%endblock%}

{% block outerContent %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <header class="intro">
        <div class="intro-body">
<div class="container">
  <h2>Contributions</h2>
  <table id="contributionsTable" class="table table-responsive" style="">
     <thead> 
      <tr>
        <th><a href="/contributions?sort=amount">Amount</a></th>
        <th><a href="/contributions?sort=filer_id">Filer ID</a></th>
        <th><a href="/contributions?sort=submitted_date">Date Submitted</a></th>
        <th><a href="/contributions?sort=contributor">Contributor</a></th>
        <th><a href="/contributions?sort=legislator">Legislator</a></th>
      </tr>
    </thead>
    {% for contribution in contributions %}
    <tr>
      <td>${{contribution.amount}}</td>
      <td>{{contribution.filer_id}}</td>
      <td>{{contribution.submitted_date}}</td>
      <td><a href="/contributions/{{contribution.id}}">{{contribution.contributor.name}}</a></td>
      {%if contribution.legislator%}
            <td><a href="/legislators/{{contribution.legislator.id}}">{{contribution.legislator.first_name + " " + contribution.legislator.last_name}}</a></td>
      {%else%}
        <td></td>
      {%endif%}

    </tr>
    {% endfor %}
  </table>
  <div>
    <a href="/bills?page={{page-1}}">Previous</a>
    <a href="/bills?page={{page+1}}">Next</a>
  </div>
</div>
</div>
</header>

{% endblock %}