{% extends "index.html" %}

{%block morecss%}
<style>
.table.table-responsive tr th{
  text-align: center;
}
</style>
{%endblock%}

{% block Content %}

<div class="container">
  <h2>Contributors</h2>
  <table class="table table-responsive" style="">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>City</th>
        <th>Zip Code</th>
      </tr>
      <tr>
        <td><a href="/contributors/borderhealthpac">Border Health PAC</a></td>
        <td>Entity</td>
        <td>McAllen, TX</td>
        <td>78504</td>
      </tr>
      <tr>
        <td><a href="/contributors/plumberspac">Plumbers Local Union No. 68 PAC Fund</a></td>
        <td>Entity</td>
        <td>Houston, TX</td>
        <td>77249</td>
      </tr>
      <tr>
        <td><a href="/contributors/ampac">A&M PAC</a></td>
        <td>Entity</td>
        <td>Austin, TX</td>
        <td>78768</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}