{% extends "index.html" %}

{%block morecss%}
<style>
.table.table-responsive tr th{
  text-align: center;
}
</style>
{%endblock%}

{% block outerContent %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <header class="intro">
        <div class="intro-body">
<div class="container">
  <h2>{{contributor.name}}</h2>
  <table id="contributorTable" class="table table-responsive" style="">
      <tr>
        <td>Type</td>
        <td>{{contributor.type}}</td>
      </tr>
      <tr>
        <td>Zip Code</td>
        <td>{{contributor.zip}}</td>
      </tr>
    </table>
          <h2>Contributions</h2>
  <table id="contributionsTable" class="table table-responsive" style="">
     <thead> 
      <tr>
        <th><a href="/contributions?sort=id">ID</a></th>
        <th><a href="/contributions?sort=amount">Amount</a></th>
        <th><a href="/contributions?sort=filer_id">Filer ID</a></th>
        <th><a href="/contributions?sort=submitted_date">Date Submitted</a></th>
        <th>Contributor</th>
        <th>Legislator</th>
      </tr>
    </thead>
    {% for contribution in contributions %}
    <tr>
      <td><a href="/contributions/{{contribution.id}}">{{contribution.id}}</a></td>
      <td>${{contribution.amount}}</td>
      <td>{{contribution.filer_id}}</td>
      <td>{{contribution.submitted_date}}</td>
      <td><a href="/contributors/{{contribution.contributor.id}}">{{contribution.contributor.name}}</a></td>
      {%if contribution.legislator%}
            <td><a href="/legislators/{{contribution.legislator.id}}">{{contribution.legislator.first_name + " " + contribution.legislator.last_name}}</a></td>
      {%else%}
        <td></td>
      {%endif%}
    </tr>
    {% endfor %}
  </table>
  <div>
      <a href="{{prev_page}}">Previous</a>
      <a href="{{next_page}}">Next</a>
  </div>
</div>
</div>
</header>

{% endblock %}
