{% extends "index.html" %}

{%block morecss%}
<style>
.table.table-responsive tr th{
  text-align: center;
}
</style>
{%endblock%}

{% block outerContent %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <header class="intro">
        <div class="intro-body">
          <div class="container">
            <h2>Contributors</h2>
            <table id="contributorsTable" class="table table-responsive" style="">
              <thead>
               <tr>
                 <th><a href="/contributors?sort=id">ID</a></th>
                 <th>Number of Contribution</th>
                 <th><a href="/contributors?sort=name">Name</a></th>
                 <th><a href="/contributors?sort=type">Type</a></th>
                 <th><a href="/contributors?sort=zip">Zip Code</a></th>
              </tr>
            </thead>
        {% for contributor in contributors %}
        <tr>
          <td><a href="/contributors/{{contributor.id}}">{{contributor.id}}</a></td>
          <td>{{contributor.contributions|length}}</td>
          <td>{{contributor.name}}</td>
          <td>{{contributor.type}}</td>
          <td>{{contributor.zip}}</td>
        </tr>
        {% endfor %}
  </table>
  <div>
    <a href="/contributors?page={{page-1}}">Previous</a>
    <a href="/contributors?page={{page+1}}">Next</a>
  </div>

</div>
</div>
</header>

{% endblock %}