{% extends "index.html" %}

{%block morecss%}
<style type="text/css">
	
.tempBG {
  background: url(../static/img/intro-bg.jpg) no-repeat bottom center scroll;
}
</style>
{%endblock%}

{% block outerContent %}

<div class="tempBG">
<br><br>
<h1 style="text-align:center;">Representative<br>Sarah Davis</h1>
<p style="text-align:center">District 134</p>
<center><img src="../static/img/davis.jpg" alt="Davis" style="width:200px;height:228px;"></center>

	<br><br>
	         <p style="padding-left: 40px">Party: Republican</p>
	         	         <p style="padding-left: 40px">Hometown: Charleston, WVA</p>
	         <p style="padding-left: 40px">Bills: <a href="/bills/hb24">House Bill 24</a></p>
	         <p style="padding-left: 40px">Contributors: <a href="/contributors/ampac">A&M PAC</a></p>

    <br><br>


</div>

{% endblock %}