{% extends "index.html" %}

{%block morecss%}
<style type="text/css">
	
.tempBG {
  background: url(../static/img/intro-bg.jpg) no-repeat bottom center scroll;
}
</style>
{%endblock%}

{% block outerContent %}

<div class="tempBG">
<br><br>
<h1 style="text-align:center;">Bill 24</h1>

<p style="text-align:center"><a href="http://www.legis.state.tx.us/BillLookup/Text.aspx?LegSess=84R&Bill=HB24">Bill text</a></p>
	<br><br>

	         <p style="padding-left: 40px">Authors: <a href="/legislators/66272">Sarah Davis</a></p>
             
	         <p style="padding-left: 40px">Prefix: House</p>
	         	         <p style="padding-left: 40px">Session ID: 84R</p>
	         <p style="padding-left: 40px">Session Year: 2015</p>
	         <p style="padding-left: 40px">Sponsors: Representative Sarah Davis</p>

    <br><br>

</div>

{% endblock %}