{% extends "index.html" %} {%block morecss%}
<style>
.table.table-responsive tr th {
    text-align: center;
}
</style>
{%endblock%} {% block outerContent %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <h2>{{legislator.first_name +" "+ legislator.last_name}}</h2>
            {%if legislator.photo_url%}
            <img src="{{legislator.photo_url}}">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            {%endif%}
            <table id="legislatorTable" class="table table-responsive" style="">
                <tr>
                    <td>Filer ID</td>
                    <td>{{legislator.filer_id}}</td>
                </tr>
                <tr>
                    <td>District</td>
                    <td>{%if legislator.district == -1%}
                            N/A
                          {%else%}
                            {{legislator.district}}
                          {%endif%}</td>
                </tr>
                <tr>
                    <td>Party</td>
                    <td>{{legislator.party}}</td>
                </tr>

                {%for source in legislator.sources%}
                    {%if source["url"]%}
                    <tr>
                          {% if "://" in source["url"] %}
                            <td>URL</td>
                            <td><a href="{{source["url"]}}">{{source["url"]}}</a></td>
                          {% endif %}
                    </tr>    
                    {%endif%}
                {%endfor%}
                {%for i,office in legislator.offices|enumerate%}
                    <tr>
                        <td>Office {{i}}:</td>
                        {# <td>{{office}}</td> #}
                        <td>
                            <ul style="list-style: none; text-align: left;">
                                {%for col in office%}
                                    <li>{{col}} : {{office[col]}}</li>
                                {%endfor%}
                            </ul>
                        </td>
                    </tr>
                {%endfor%}
            </table>
            <h2>Contributions</h2>
            <table id="" class="table table-responsive" style="">
             <thead> 
              <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Filer ID</th>
                <th>Date Submitted</th>
                <th>Contributor</th>
                <th>Legislator</th>
              </tr>
            </thead>
            {% for contribution in contributions %}
            <tr>
              <td><a href="/contributions/{{contribution.id}}">{{contribution.id}}</a></td>
              <td>${{contribution.amount}}</td>
              <td>{{contribution.filer_id}}</td>
              <td>{{contribution.submitted_date}}</td>
              <td><a href="/contributors/{{contribution.contributor.id}}">{{contribution.contributor.name}}</a></td>
              {%if contribution.legislator%}
                    <td><a href="/legislators/{{contribution.legislator.id}}">{{contribution.legislator.first_name + " " + contribution.legislator.last_name}}</a></td>
              {%else%}
                <td></td>
              {%endif%}
            </tr>
            {% endfor %}
          </table>
             <h2>Bills</h2>
            <table id="billsTable" class="table table-responsive" style="">
                <thead>
                    <th>ID</th>
                    <th>Prefix</th>
                    <th>Number</th>
                    <th>Session</th>
                    <th>Title</th>
                </thead>
                {% for bill in bills %}
                <tr>
                    <td><a href="/bills/{{bill.id}}">{{bill.id}}</a></td>
                    <td>{{bill.prefix}}</td>
                    <td>{{bill.number}}</td>
                    <td>{{bill.session}}</td>
                    <td>
                        {{bill.title[:100]}}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="bill pagination">
                <a href="{{prev_contribs}}">Previous</a>
                <a href="{{next_contribs}}">Next</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}
