{% extends "index.html" %}

{%block morecss%}
<style>
.table.table-responsive tr th{
  text-align: center;
}
</style>
{%endblock%}

{% block outerContent %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <header class="intro">
        <div class="intro-body">
<div class="container">
  <h2>Legislators</h2>
  <table id="legislatorsTable" class="table table-responsive" style="">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Filer ID</th>
        <th>District</th>
        <th>Party</th>
        <th>Type</th>
        <th>Offices</th>
        <th>Sources</th>
        <th>Photo</th>
      </tr>
    </thead>
    {% for legis in legislators %}
      <tr>
        <td>{{legis.first_name}}</td>
        <td>{{legis.middle_name}}</td>
        <td>{{legis.last_name}}</td>
        <td>{{legis.filer_id}}</td>
        <td>{{legis.district}}</td>
        <td>{{legis.party}}</td>
        <td>{{legis.type}}</td>
        <td>{{legis.offices}}</td>
        <td>{{legis.sources}}</td>
        <td>{{legis.photo_u}}</td>
      </tr>
      {% endfor %}
  </table>
</div>
</div>
</header>

{% endblock %}
