{% extends "index.html" %}

{%block morecss%}
<style type="text/css">
	
.tempBG {
  background: url(../static/img/intro-bg.jpg) no-repeat bottom center scroll;
}
</style>
{%endblock%}

{% block outerContent %}

<div class="tempBG">
<br><br>
<h1 style="text-align:center;">Plumbers Local Union No. 68 PAC Fund</h1>
	<br><br>
	         <p style="padding-left: 40px">Type: Entity</p>
	         	         <p style="padding-left: 40px">Website: <a href="https://ecommerce.issisystems.com/isite261/eremit.dll/26101/cm.asp?name=contact">Plumber's PAC</a></p>
	         <p style="padding-left: 40px">Contributions: <a href="/legislators/58277">Walle</a>: $2,000</p>
	         <p style="padding-left: 40px">City: Houston, TX</p>
	         <p style="padding-left: 40px">Zip: 77249</p>
    <br><br>



</div>

{% endblock %}