{% extends "index.html" %}

{%block morecss%}
<style type="text/css">
	
.tempBG {
  background: url(../static/img/intro-bg.jpg) no-repeat bottom center scroll;
}
</style>
{%endblock%}

{% block outerContent %}

<div class="tempBG">
<br><br>
<h1 style="text-align:center;">Representative<br>Armando Walle</h1>

<p style="text-align:center">District 140</p>
	<br><br>
	         <p style="padding-left: 40px">Party: Democratic</p>
	         	         <p style="padding-left: 40px">Hometown: Houston, TX</p>
	         <p style="padding-left: 40px">Bills <a href="/bills/hb15">House Bill 15</a></p>
	         <p style="padding-left: 40px">Contributors: </p>

    <br><br>



</div>

{% endblock %}