{% extends "index.html" %}

{%block morecss%}
<style type="text/css">
	
.tempBG {
	background: url(../static/img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
</style>
{%endblock%}

{% block outerContent %}

<div class="tempBG">
<br>
<h1 style="text-align:center;">Representative<br>Armando Walle</h1>

<p style="text-align:center">District 140</p>
<center><img src="../static/img/walle.jpg" alt="Walle" style="width:200px;height:228px;"></center>

	<br><br>
	         <p style="padding-left: 40px">Party: Democratic</p>
	         	         <p style="padding-left: 40px">Hometown: Houston, TX</p>
	         <p style="padding-left: 40px">Bills: <a href="/bills/hb15">House Bill 15</a></p>
	         <p style="padding-left: 40px">Contributors: <a href="/contributors/borderhealthpac">Border Health PAC</a>, <a href="/contributors/plumberspac">Plumbers Local Union No. 68 PAC Fund</a></p>

    <br><br>



</div>

{% endblock %}